.bg-crimson {
    background-color: rgba(6, 48, 255, 0.53);
}
.bg-pollo {
    background-color: rgba(232, 156, 5, 0.53);
}
.bg-a {
    background-color: rgba(6, 231, 252, 0.53);
}
.bg-b {
    background-color: rgba(233, 31, 13, 0.53);
}
.bg-c {
    background-color: rgba(119, 232, 5, 0.53);
}
.bg-d {
    background-color: rgba(157, 9, 232, 0.53);
}
.bg-e {
    background-color: rgba(2, 33, 47, 0.53);
}
.bg-f {
    background-color: rgba(23, 234, 44, 0.53);
}
.bg-g {
    background-color: rgba(232, 9, 191, 0.53);
}